# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

#GCP auth
account.json

#TF Vars
*.tfvars
*.tfstate
*.tfplan
/gcp/*.tfplan
/gcp/*.tfvars
/gcp/*.tfstate
/gcp/*.terraform/
#tf init script
set-backend.sh

